.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 1.5rem;

  // .looping {
  //   border-radius: 5px;
  // }

  button {
    background: transparent;
    border: 0;
    font-size: 0;
    transition: filter 0.2s;

    &:hover:not(:disabled) {
      filter: brightness(0.8);
    }

    &.isActive {
      filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.isActive:hover {
      filter: brightness(0.6) sepia(1) saturate(3) hue-rotate(100deg);
    }

    &.playButton {
      width: 4rem;
      height: 4rem;
      border-radius: 1rem;
      background: var(--purple-400);

      &:hover:not(:disabled) {
        filter: brightness(0.95);
      }
    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}
